<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>wanpeng li</fullName>
  <description>Azure Active Directory User&#xd;
&#xd;
Given            Name:  华&#xd;
Family           Name:  李&#xd;
Unique Principal Name:  live.com#albertxavier001@hotmail.com&#xd;
Object             ID:  5f6d4c09-e0f2-49f2-a981-52e5b3bfff8a&#xd;
Tenant                 ID:  cd236629-6aa9-4323-98a2-f51cddcc721d&#xd;
</description>
  <properties>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>lWzjNZOXaeBBsnYeKor61RNRklDYYVU2f2qXqeXymqYCn5FnBSg6LCUJ/as3Ykiy</apiToken>
    </jenkins.security.ApiTokenProperty>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@2.1.14">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash"/>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>false</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>#jbcrypt:$2a$10$whqFqvmzSuZrmO/iqqdC5uUDwpX6bRdZmIAnSXPYz4mms9olqkKUK</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <jenkins.security.LastGrantedAuthoritiesProperty>
      <roles>
        <string>authenticated</string>
      </roles>
      <timestamp>1505724456606</timestamp>
    </jenkins.security.LastGrantedAuthoritiesProperty>
  </properties>
</user>